@tailwind base;
@tailwind components;
@tailwind utilities;

/* using custom styles with tailwindcss @ layer directive */
@layer base {
  h1 {
    @apply text-[2rem] text-blue-300 underline font-bold;
  }
  p {
    @apply text-xl text-red-300 italic;
  }
}

@layer components {
  .paragraph {
    @apply text-center text-xl text-blue-400 font-bold;
  }
}

/* This adds normal styles to the utility classes with */
@layer utilities {
  .blueText {
    color: blue;
  }
  .filter-grayscale {
    background-color: red;
  }
}
